.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
